/****** LOGIN MODAL ******/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #FfFfFF;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
  margin: 0 auto;
  margin-top: 20px;
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  width: 140px;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #FF5733;
  padding: 11px 0px;
  font-family: roboto;
  font-size: 21px;
   
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #F3522F;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-submit1 {
  /* border: 1px solid #3079ed; */
  width: 140px;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #2874A6;
  padding: 11px 0px;
  font-family: roboto;
  font-size: 21px;
  position: absolute;
  left: 300px;
   
}

.loginmodal-submit1:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #1B4F72;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #2F4F4F;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.8;
  
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}



