
.bs-example {
  position: relative;
  top: 20px;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  background-color: #E1E2E3;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 60vh;
  overflow-y: scroll;
}

.bs-example1 {
  position: relative;
  top: 30px;
  left: 17px;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  background-color: #F2F2F2;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 20vh;
  overflow-y: scroll;
}

.bs-example2 {
  position: relative;
  top: 40px;
  left: 17px;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  background-color: #F2F2F2;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 20vh;
  overflow-y: scroll;
}

#users {
  background-color: #FFFFE0 !important;
  width: 210px;
}
 

.have{
    font-family: "Arial";
    font-size: 18px;
    color: white;
    position: absolute;
    top: 1px;
}

.haveUser{
  position: absolute;
  top: 93px;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 59vh;
  background-color: #2d384a !important;
  width: 250px;
  left: 30px;
}

.notHave{
    font-family: "Arial";
    font-size: 18px;
    color: white;
    position: relative;
    top: 40px;
}

