.border-left {
  border-left: solid 1px;
  color: white;
}

.navbar-default {
    background-color: #6495ED;
    border-color: #6495ED;
}

.navbar {
    border-radius: 0px;
}

.navbar-header {
  color: white;
  font-size: 25px;
  font-family: "sans-serif";
  text-shadow: 1px 0px #A9A9A9;
  padding-top: 5px;
}

.navbar-right {
  color: white;
}

.username{
   padding-top: 15px;
   padding-right: 15px;
}

li a{
color: white;
}



