<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <p>Let's Talk</p>
    </div>

    <div *ngIf="isLoggedIn">
      <ul class="nav navbar-nav navbar-right border-left logout">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right username">
        <li>{{afService.displayName }}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
