
h1 {
    font-family: "Arial";
    font-size: 18px;
    color: white;
    position: absolute;
    top: 1px;
}

h2 {
    font-family: "Arial";
    font-size: 18px;
    color: white;
    position: absolute;
    top: 115px;
}

h3 {
    font-family: "Arial";
    font-size: 18px;
    color: white;
    position: absolute;
    top: 230px;
}

.allrooms {
  position: absolute;
  top: 93px;
  right: 30px;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 59vh;
  background-color: #2d384a !important;
  width: 250px;

 
}

.bs-example1 {
 
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  background-color: white;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 10vh;
  width: 200px;
  overflow-y: scroll;
  position: absolute;
  top: 50px;
  left: 38px;
}

.yourooms {
  width: 240px;
  height: 130px;
  border-radius: 2px;
  border-color: #A9A9A9;
  border-width:1px;  
  border-style:solid;
  position: absolute;
  top: 233px;
  right: 20px;
}

.bs-example2 {
 
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  background-color: white;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 10vh;
  width: 200px;
  overflow-y: scroll;
  position: absolute;
  top: 165px;
  left: 38px;
}

.createroom {
  width: 240px;
  height: 130px;
  border-radius: 2px;
  border-color: #A9A9A9;
  border-width:1px;  
  border-style:solid;
  position: absolute;
  top: 373px;
 right: 20px;
}

#name{
  width: 190px;
  position: absolute;
  top: 280px;
  left: 20px;
}

.btn-primary{
  width: 110px;
  position: absolute;
  top: 330px;
  left: 20px;
}

