<div class="allrooms">
       <h1> All Rooms: </h1>
      <div #scrollMe class="bs-example1" id="users">
       <div *ngFor="let room of rooms | async">
         <a> {{room.roomName}} </a> 
       </div> 
     </div> 

       <h2 class="youroom"> Your Rooms: </h2>
      <div #scrollMe class="bs-example2" id="users">
       <div *ngFor="let room of rooms | async">
        <a> {{room.roomName}} </a> 
       </div> 
      </div>

  <h3> Create New Room </h3>
   <form class="form-signin" >
      <label for="roomName" class="sr-only">Name</label>
      <input #name type="text" id="name" class="form-control" placeholder="Room name" required="">
      <br>
      <button  class="btn btn-md btn-primary btn-block bt1" type="submit">Create</button>
    </form> 
 </div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
